 <!-- <h1>Hi there</h1>
<div *ngFor="let movie of movies">

    <p>{{movie.original_title}}</p>
    <p>{{movie.overview}}</p>
    <img src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="movie.backdrop_path">
    <p>{{movie.popularity}}</p>
</div>  -->

<!-- <mat-grid-list cols="3" rowHeight="2:1" *ngFor="let movie of movies">
  <div>
    <img src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="movie.backdrop_path">
    <h3>{{movie.original_title}}</h3>
    <h4>{{movie.popularity}}</h4>
  </div>
  </mat-grid-list> -->
  <div class="bg-container">
    <div class="row heading-card">
      <div class="col-12">
        <h1 class="container-heading">Yayy !!! Here are your movies</h1>
      </div>
    </div>
    <!-- <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    
    <div class="row" fxFlex="33" fxFlex.xs="100" fxFlex.sm="33" *ngFor="let movie of movies"> -->
      <div class="container">
        <div class="row">
    
      <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="movie-heading">{{movie.original_title}}</mat-card-title>
          <mat-card-subtitle>popularity: {{movie.popularity}}</mat-card-subtitle>
        </mat-card-header>
        <img class="example-img-size" src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{movie.overview}}</p>
          </mat-card-content>
      </mat-card> -->
      <div class="col-12 col-md-6 col-lg-4 mt-3" *ngFor="let movie of movies">
        <mat-card class="mat-elevation-z4 example-card" [routerLink]="['/movie-details',movie.id]">
          <img mat-card-image class="example-img-size" src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="">
          <mat-card-header>
            <mat-card-title>
              {{movie.original_title}}
            </mat-card-title>
            <mat-card-subtitle>
              popularity: {{movie.popularity}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  </div>
  