<!-- <router-outlet></router-outlet> -->
<div class="bg-container">
    <div class="calci_card">
        <h1>Basic Calculator</h1>
    <div>
        <label for="a">Enter First Number</label><br>
        <input type="number" id="a"
               required
               [(ngModel)]="a" name="a">
      </div>
      
      <div>
        <label for="b">Enter Second Number</label><br>
        <input type="number" id="b"
              [(ngModel)] ="b" name="b">
      </div><br>

      <button (click) = add()>+</button>
      <button (click) = subtract()>-</button>
      <button (click) = multiply()>*</button>
      <button (click) = division()>/</button>
      
    <h1>Result:{{c}}</h1>
    </div>
</div>
<!-- <div >
    <input type="number" placeholder="Enter a number" name="a" id="a" [(ngModel)]="a">
    <select name="dropdwn" id="dropdwn">
        <option value="" (click)="add()">+</option>
        <option value="" (click)="subtract()">-</option>
        <option value="" (click)="multiply()">*</option>
        <option value="" (click)="division()">/</option>
    </select>
    <input type="number" placeholder="Enter a number" name="b" id="b" [(ngModel)]="b">
    <p>Result:
        {{c}}</p>
    
</div> -->