<div class="bg-container" >
  <div class="row heading-card">
    <h1 class="container-heading">Here is Your Movie</h1>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-card class="mat-elevation-z4 example-card">
        <img mat-card-image class="example-img-size" src="http://image.tmdb.org/t/p/w185//{{movie.poster_path}}" alt="">
        <mat-card-header>
          <mat-card-title>
            {{movie.original_title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{movie.tagline}}
          </mat-card-subtitle>
        </mat-card-header>        
      </mat-card>
    </div>
    <div class="col-12 col-lg-6">    
      <h1 class="movie-overview">{{movie.overview}}</h1> <br>
      <div class="d-flex flex-row">
        <div>
          <h4>Genre: </h4>
        </div>
        <div *ngFor="let genre of movie.genres">
          <p class="list-horizontal"> {{genre.name}} <strong>|</strong></p>
          <!-- <ul>
            <li class="list-horizontal">{{genre.name}}</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container2">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Release Date: {{movie.release_date}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Movie Status: {{movie.status}}</h1>
    </div>
    <div class="col-12">
      <h1>Ratings</h1>
      <!-- <span style="font-size: 48px;">
        <span style="color: red;">
          <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
          <i class="fa fa-star"></i> &nbsp;
          <i class="fa fa-star"></i> &nbsp;
          <i class="fa fa-star"></i> &nbsp;
          <i class="fa fa-star"></i> &nbsp;
        </span>
      </span> -->
      <!-- <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
      <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Popularity: {{movie.popularity}}</h1>
    </div>
  </div>
</div>

